body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #fff;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}